{% extends 'dashboard/main.html' %}
{% load static %}
{% block body %}

<!-- ========== App Menu ========== -->
<style type="text/css">
    :root {
      --primary-light: #E47F53;
      --primary: #DF622C;
      --primary-dark: #C65200;
      --white: #FFFFFF;
      --greyLight-1: #ebf5fc;
      --greyLight-2: #d5e0f3;
      --greyLight-3: #c1d9f0;
      --greyDark: #646b8c;
  }





  .health-card {
      /*width: 34rem;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      
      /*padding: 5rem;*/
      border: 1px solid white;
  }
  .card__percent {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
  }
  .card__number {
      position: absolute;
      color: var(--greyDark);
      font-size: 30px;
      font-family: "DM Sans", sans-serif;
  }
  .card__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }


  svg {
      position: relative;
      width: 17rem;
      height: 17rem;
      z-index: 1000;
      transform: rotate(-90deg);
  }

  svg circle {
      width: 100%;
      height: 100%;
      fill: none;
      stroke-linecap: round;
      transform: translate(42px, 51px);
      stroke-dasharray: 565.49;
      stroke-dashoffset: 282.75;
      transition: all 1s ease;
      stroke-width: 24;
  }

  .circle {
      position: absolute;
      width: 23rem;
      height: 23rem;
      border-radius: 50%;
      box-shadow: 6px 6px 8px var(--greyLight-2), -6px -6px 8px var(--white);
      background: var(--greyLight-1);
  }
  .circle__medium {
      width: 20.5rem;
      height: 20.5rem;
      box-shadow: inset 8px 8px 10px var(--greyLight-2), inset -4px -4px 8px var(--white);
  }
  .circle__small {
      width: 10.5rem;
      height: 10.5rem;
      box-shadow: 6px 6px 8px var(--greyLight-2), -2px -2px 8px var(--white);
  }

  .form {
      display: grid;
      grid-template-columns: 40% 60%;
      justify-items: center;
      padding: 4rem;
      margin-left: 4rem;
      border-radius: 2rem;
      background: var(--greyLight-1);
      text-align: center;
      box-shadow: 0px 20px 30px rgba(100, 131, 177, 0.2);
      border: 1px solid var(--white);
      position: relative;
  }
  .form__text {
      grid-column: 1/3;
      font-weight: 400;
      margin-bottom: 2rem;
      color: var(--greyDark);
  }
  .form input {
      border: none;
      outline: none;
      background: none;
      font-family: inherit;
      width: 5rem;
      font-size: 1.6rem;
      text-align: center;
      padding: 0.8rem;
      border-radius: 1rem;
      margin-right: 1rem;
      color: var(--primary);
      box-shadow: inset 0.2rem 0.2rem 0.4rem var(--greyLight-2), inset -0.3rem -0.3rem 0.4rem var(--white);
  }
  .form input::placeholder {
      color: var(--greyLight-3);
  }
  .form input:focus {
      color: var(--primary);
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-3), -0.2rem -0.2rem 0.5rem var(--white);
  }
  .form__btn {
      border: none;
      outline: none;
      font-family: "DM Sans", sans-serif;
      letter-spacing: 0.8px;
      background: var(--greyLight-1);
      padding: 0.8rem 2rem;
      border-radius: 2rem;
      color: var(--white);
      cursor: pointer;
      background: linear-gradient(-25deg, var(--primary) 0%, var(--primary-light) 100%);
  }
  .form__btn:hover {
      background: linear-gradient(-25deg, var(--primary-dark) 0%, var(--primary) 100%);
  }

  .tooltip {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: -6rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      background: var(--greyLight-1);
      font-size: 1.2rem;
      color: var(--primary-dark);
      opacity: 0;
      transition: all 0.3s ease;
  }
  .tooltip__text {
      margin-left: 0.6rem;
  }
  .tooltip.fade-in {
      animation: fadeIn 0.8s ease;
  }
  .tooltip::after {
      content: "";
      position: absolute;
      left: 45%;
      bottom: 74%;
      width: 2rem;
      height: 2rem;
      background: var(--greyLight-1);
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      transform: rotate(135deg);
      border-radius: 0 0 0 0.4em;
  }

  .dribbble {
      position: fixed;
      font-size: 3.6rem;
      right: 2rem;
      top: 2rem;
      color: #EA4C89;
  }

  @keyframes fadeIn {
      0% {
        transform: translateY(-40px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
</style>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Product Overview</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tools</a></li>
                                <li class="breadcrumb-item active">Product Overview</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end page title -->
            {% if status == 'error' %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">           
                    <div class="mt-3 pt-3" style="background: white; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f06548,secondary:#f7b84b" style="width:120px;height:120px"></lord-icon>
                        <div class="mt-3 pt-2 fs-15">
                            <h4 style="font-size:17px">Oops...! Something went Wrong !</h4>
                            <p class="text-muted mx-4 mb-0 text-center">Product not found</p>
                            <div class="mt-3 pb-5" style="background: white; display: flex; justify-content: center; align-items: center;">
                                <button class="btn btn-primary m-1"  onclick="history.back()">Search Again</button>
                                <a href="{% url 'support_tickets' %}"><button class="btn btn-warning m-1">Submit Ticket</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}


            <div class="row">

                <div class="col-md-3">


                    <div class="card health-card">
                        <input type="hidden" value="{{health}}" name="" id="percent">
                        <div class="card__percent">
                          <svg>
                            <defs>
                              <radialGradient id="gradient" cx="50%" cy="80%" r="60%" fx="50%" fy="50%">
                                <stop offset="30%"   stop-color="var(--primary-dark)"/>
                                <stop offset="100%" stop-color="var(--primary-light)"/>
                            </radialGradient>
                        </defs>
                        <circle cx="90" cy="90" r="90" stroke="url(#gradient)" id="circle"></circle>
                    </svg>
                    <div class="circle circle__small"></div>
                    <div class="card__number">{{health}}%</div>
                    </div>
                    <div class="card__description">
                        <h4>Product Health</h4>
                        <p class="mb-4">This is calculated by using Artificial Intelligence, results may not be 100% correct by more than 95%</p>
                    </div>  
                    </div>

                    <div class="card card-animate">
                        <div class="card-body">
                            <h5 class="mb-3">Vendor Recommendation</h5>
                            {% if vendor.min_price is not None %}
                            <p class="mb-1">Price: ${{vendor.min_price}}/piece</p>
                            <p class="mb-1">Detail:
                                <a href="{{vendor.attr.link}}" target="_blank">view detail</a>
                            </p>
                            <p class="mb-1">Source: <a href="https://madeinchina.com" target="_blank">madeinchina.com</a></p>
                            <p class="mb-1">Supplier: {{vendor.attr.supplier}}</p>
                            <a href="{{vendor.attr.contact_link}}" target="_blank">
                                <button class="btn btn-danger mt-3 bg-gradient" style="background: #DF622C; width: 100%;">Contact Supplier</button>
                            </a>
                            {% else %}
                            <p>No appropriate vendor found for this product</p>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="col-md-9">
                    <div class="card card-animate">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 mb-4 d-flex justify-content-center align-items-center" style="background:white;">
                                    <img src="{{items.image}}" style="width:90%" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-10">
                                    <h4 class="mb-3">{{ items.title }}</h4>
                                    <div class="row">
                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Price</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h5 class="fw-semibold ff-secondary mb-0" style="font-size:14px; "><span>{{ items.price }}</span></h5>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bx-dollar-circle text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->

                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Reviews</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h5 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span>{{ items.reviews }}</span></h5>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bx-star text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->

                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Brand</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h4 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span>{{ items.brand }}</span></h4>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bx-box text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->




                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Weight</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h4 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span>{{ items.weight }}</span></h4>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bx-anchor text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->



                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h4 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Listing Date</h4>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h5 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span>{{ items.listing_date }}</span></h5>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bx-calendar-event text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->


                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h4 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Rating</h4>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h5 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span>{{ items.rating }}</span></h5>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bxs-star-half text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->


                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Dimensions</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h4 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span>{{ items.dimensions }}</span></h4>
                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx  bxs-shapes text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->


                                        <div class="col-xl-3 col-md-6 mt-2">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="text-uppercase fw-medium text-muted mb-0" style="font-size: 12px;">Seasonality</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div>
                                                            <h4 class="fw-semibold ff-secondary mb-0" style="font-size:14px;"><span style="cursor:pointer;"  data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">view graph</span></h4>


                                                        </div>
                                                        <div class="avatar-sm flex-shrink-0" style="height: 2rem; width: 2rem;">
                                                            <span class="avatar-title bg-soft-success rounded fs-3">
                                                                <i class="bx bx-line-chart text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->



                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Product Features:</h4>
                                            <hr>    
                                        </div>
                                        {% for key, value in items.attr.items %}

                                        <div class="col-xl-4 col-md-6">
                                            <!-- card -->
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1">
                                                            <p class="text-uppercase fw-medium text-muted mb-0">{{key}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-end justify-content-between mt-2">
                                                        <div>
                                                            <p class="mb-0" style="font-size:14px">{{value}}</p>
                                                            <!-- <a href="#" class="text-decoration-underline">View net earnings</a> -->
                                                        </div>

                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->
                                        {% endfor %}

                                    </div> <!-- end row-->
                                </div>


                </div>


  </div>

  <!-- end row-->



  {% endif %}
  <!-- end row-->
</div>
<!-- container-fluid -->
</div>
<!-- End Page-content -->

<!-- End Page-content -->

<div class="modal fade bs-example-modal-center" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-modal="true" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center pt-5 pb-5">
                {% if data == None %}
                <div>
                    <lord-icon src="https://cdn.lordicon.com/hrqwmuhr.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:120px;height:120px"></lord-icon>
                    <div class="mt-4">
                        <h4 class="mb-3">Oops something went wrong!</h4>
                        <p class="text-muted mb-4"> Seasonality graph for this product is not available.</p>
                        <div class="hstack gap-2 justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                        </div>

                    </div>
                </div>
                {% else %}
                <div>
                    <h3>Seasonality Graph</h3>
                    <img src="data:image/png;base64,{{ data }}" alt=""width="100%">
                    <div class="hstack gap-2 justify-content-center">
                        <button type="button" class="btn btn-danger mt-2" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    const circle = document.getElementById('circle');
    const input = document.getElementById('percent');
    
    function circlePercent() {
        let change = 565.49 - (565.49 * input.value) / 100;
        circle.style.strokeDashoffset = change;
    };
    circlePercent();

    
    
</script>

{% endblock %}